body, html {
  height: 100%;
  margin: 0;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.8em;
  color: rgb(206, 204, 188);
  background-color: rgb(225, 216, 188);
}

.pimg1, .pimg2, .pimg3 {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;  
  /* effect parallax */
  background-attachment: fixed;
}

.pimg1 {
  background-image:url('../img/image1.jpg');
  min-height: 100%;
}

.pimg2 {
  background-image:url('../img/image2.jpg');
  min-height: 400px
}

.pimg3 {
  background-image:url('../img/image3.jpg');
  min-height: 400px
}

.section {
  text-align: center;
  padding: 30px 80px;
}

.section-light, .section-dark1, .section-dark2 {
  background-color: rgb(50, 44, 44);
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: rgb(191, 189, 173);
  font-size: 18px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
  color: rgb(206, 204, 188);
  background-color: rgb(40, 37, 37);
  padding: 15px;
}

.ptext .border.trans {
  background-color: transparent;
  color: rgb(206, 204, 188);
  background-color: rgb(14, 13, 13);
  font-size: larger;
}
